/* Add CSS styling here */

/* Implement CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Begin Stylesheet */

*  {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', serif;
}

/* Mobile First Styles */
.container {
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", serif;
    color: #545454;
}
.container header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container header h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.container header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.container header nav a {
    text-decoration: none;
    background: #fffafa;
    color: #545454;
    font-size: 2.4rem;
    width: 120px;
    border: 1px solid #545454;
    text-align: center;
    padding: 8px;
}
.container header nav a:hover {
    background: #31597d;
    color: #fffafa;
}
.container main .my-info {
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container main .my-info .my-photo {
    display: flex;
    justify-content: center;
}
.container main .my-info img {
    width: 100%;  
}
.container main .my-text-info {
    display: flex;
    flex-direction: column;
    align-items: center
}

.container main .my-text-info h2 {
    font-weight: 600;
    font-size: 3rem;
    margin: 16px;
    text-transform: uppercase;
}
.container main .my-text-info button {
    font-size: 2.4rem;
    padding: 8px;
    width: 150px;
    color: #545454;
    background: #fffafa;
    margin-bottom: 16px;
}
.container main .my-text-info button:hover {
    background: #31597d;
    color: #fffafa;
}
.container main .my-text-info p {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 16px;
}
.container main .gallery {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.container main .gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.container main .gallery figcaption {
    font-size: 1.8rem;
    margin: 10px;
}
.container footer {
    background: #31597d;
    color: #fffafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 150px; */
}
.container footer h3 {
    font-size: 2.4rem;
    margin: 24px 0;
}
.container footer button {
    font-size: 2rem;
    padding: 8px;
    width: 150px;
    color: #545454;
    background: #fffafa;
    margin-bottom: 16px;
}
.container footer .social-media {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.container footer .social-media a {
    font-size: 5rem;
    color: #fffafa;
}